.App {
	text-align: center;
    background-color: #f5f7f9;  /* Muted background color similar to Letterboxd. */
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.review{
	font-family: 'Helvetica Neue', Arial, sans-serif; 
    margin: 0;  
    padding: 20px;  
    color: #333;  /* Dark gray text color. */
    line-height: 1.3;
	display: flex;
    max-width: 600px; /* Example max-width. Adjust this value as needed. */
    margin: 0 auto; /* This centers the container if it's smaller than its parent. */
}

.left-section, .right-section {
    flex: 1; /* Allow each section to take up half the space. */
    padding: 0 0px; /* Some padding for spacing between the sections. */
}

.left-section input[type="text"] {
    max-width: 140px; /* Example max-width. Adjust this value as needed. */
	font-family: 'Helvetica Neue', Arial, sans-serif; 
	margin-left: 10px;
}

.left-section input[type="number"] {
    max-width: 25px; /* Example max-width. Adjust this value as needed. */
	font-family: 'Helvetica Neue', Arial, sans-serif; 
	margin-left: 6px;
}

.right-section textarea {
	font-family: 'Helvetica Neue', Arial, sans-serif; 
}

label {
    display: block;
    margin-bottom: 0px;
}

.page {
    padding: 5px;  
	text-align: center;
	font-family: 'Helvetica Neue', Arial, sans-serif; 
    background-color: #f5f7f9;  /* Muted background color similar to Letterboxd. */
    color: #333;  /* Dark gray text color. */
    line-height: 1;
}

.feed {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
 }

.review {
	align-items: center;
	text-align: left;
    background-color: #ffffff;  /* Muted background color similar to Letterboxd. */
 }

.post{
	font-family: 'Helvetica Neue', Arial, sans-serif; 
    color: #000000;  /* Dark gray text color. */
    line-height: 1.2;
	flex: 1;
	text-align: left;
	margin-top: -90px;
	margin-left: 0px;
}

.remove{
	font-family: 'Helvetica Neue', Arial, sans-serif; 
	margin-top: -170px;
	margin-right: 20px;
}

.poster {
	flex-shrink: 0;
	margin-top: 30px;
	margin-bottom: 5px;
	margin-left: 20px;
	margin-right: 20px;
	width: 120px;   /* Adjust as needed */
    height: auto;
 }

.moviedata{
	margin-top: -20px;
	margin-bottom: -30px;
	font-family: 'Helvetica Neue', Arial, sans-serif; 
	text-align: center;
}

.content {
	background-color: #7197ff;
	padding: 20px;
}

.footer {
	font-family: 'Helvetica Neue', Arial, sans-serif; 
	font-size: 11px;
	margin-top: 10px;
}

.App-link {
	color: #1bd161;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
